@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, 
  body {
    color: rgb(223, 221, 221);
    background-color: #faf1e6;
    font-family: "Playfair Display", serif;
    margin-top: 40px;
  }
  
  h1 {
    color: #1b1b32;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    margin: 20px 0;
  }
  
  .aplicacion-tareas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  /* Logo de freeCodeCamp */
  
  .kuromi-logo-contenedor {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .kuromi-logo {
    width: 200px;
    height: auto;
  }
  
  /* Listas de Tareas */
  
  .tareas-lista-principal {
    width: 600px;
    min-height: 500px;
    background-color: #d0d0d5;
    padding: 25px;
    margin: 10px;
    border-radius: 26px;
  }
  